nav.navbar.navbar-expand-lg.bg-light
  .container-fluid.pc-5
    a.navbar-brand(href='/') 1PG
    .collapse.navbar-collapse.d-flex.justify-content-between
      .navbar-nav.d-flex.align-items-center
        i.fa.fa-code
        a.nav-link(href='/commands') Commands
      .navbar-nav.ml-auto.d-flex.align-items-center
        i.fa.fa-sign-in
        a.nav-link(href='/login') Login